.root {
   -fx-base: rgb(155, 209, 245);   /*  #9BD1F5 */
    dark: derive(rgb(155, 209, 245), -50%);  /* #749DB8 */
    darker: derive(rgb(155, 209, 245), -25%);
    lighter: derive(rgb(155, 209, 245), +25%);
    light: derive(rgb(155, 209, 245), +50%);
   -fx-background-color: transparent;
   -fx-background: rgb(155, 209, 245); 
   background: -fx-base; 
   textcolor-highlight-primary  : rgba(255,0,0, 1);
   textcolor-stopper: red;
   textcolor-warning: derive(rgb(255,0,0), +50%);
}

/*******************************
 * Generic changes
 *******************************/
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-pane {
	-fx-background-color: transparent;
}

.list-cell {
  -fx-background-color: light;
  -fx-border-width: 2px;
  -fx-border-color: white;
}
.list-cell:empty {
  -fx-background-color: white;
}

.list-cell:selected {
    -fx-background-color: dark;
    -fx-text-fill: light;
}
.list-cell:hover {
    -fx-background-color: darker;
    -fx-text-fill: light;
}
.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 0.1em 0.2em 0.1em 0.2em;
}


.combo-box-base  {
    -fx-font-size: 1em; /* 16 */
}
.combo-box .list-view {
  -fx-background-color: -fx-base;
}


/*
 * Navigation View / ScreenManager
 */

.navigation-view {
    -fx-background-color: background;
}

.navigation-view-title {
    -fx-background-color: background;
}
 

/*******************************
 * Character Document
 *******************************/
.character-document-view-grid {
   -fx-background-color: transparent;
}
.character-document-view-scroll {
   -fx-background-color: transparent;
}
.character-document-view-layout {
   -fx-background-color: transparent;
}

.character-document-view-buffer-left {
   -fx-background-color: lime;
}
.character-document-view-buffer-right {
   -fx-background-color: transparent;
}

.character-document-view-section-content {
  -fx-background-color: white;
  -fx-border-width: 1px;
  -fx-border-style: solid;
  -fx-border-color: transparent;
  -fx-padding: 1em;
  -fx-background-color: white; -fx-effect: dropshadow(three-pass-box, black, 5, 0.5, 2, 2);
}

.character-document-view-todos {
  -fx-max-width: 16em;
  -fx-pref-width: 12em;
  -fx-min-width: 8em;
}
.character-document-view-content {
  -fx-background-color: transparent;
  -fx-border-width: 0px;
  -fx-padding: 0.2em;
}
.character-document-view-title {
  -fx-font-size: 200%;
  -fx-padding: 0 0.5em 0 0.5em;
   -fx-background-color: -fx-base;
}
.character-document-view-description {
  -fx-background-color: transparent;
  -fx-padding: 0.2em;
  -fx-max-width: 20em;
  -fx-min-width: 15em;
}
.character-document-view-description .description-text {
  -fx-background-color: rgba(155, 209, 245, 0.8);
}

.character-document-view > .settings-and-commandbar {
    -fx-background-color: transparent;
    -fx-border-style: none none solid none;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: dark;
    -fx-padding: 0 0.5em 0 0.5em;
}

.character-document-view > .settings-and-commandbar .label {
    -fx-font-size: 120%;
}

/*******************************
 * TableViews
 *******************************/
.table-column:rowhover {
    -fx-background-color: derive(#e2deda, 20%);
}
.table-column:selected {
    -fx-background-color: darker;
}

.free-points {
  -fx-background-color: #4e9a06;
}

.free-points .points {
  -fx-font-size: 150%;
  -fx-font-weight: bold;
  -fx-text-fill: white;
}

.free-points .name {
  -fx-text-fill: white;
  -fx-padding: 0.1em;
}

#splittermond-overview {
   -fx-backgrdound-color: background;
   -fx-background-image: url('../images/Tiai3.png');
   -fx-background-position: right bottom;
   -fx-background-repeat: no-repeat;
}

#splittermond-powers {
   -fx-background-color: background;
   -fx-background-image: url('../images/BG_SkillsNormal.png');
   -fx-background-position: right bottom;
   -fx-background-repeat: no-repeat;
}
#splittermond-skills {
   -fx-background-color: background;
   -fx-background-image: url('../images/BG_SkillsNormal.png');
   -fx-background-position: right bottom;
   -fx-background-repeat: no-repeat;
}

#splittermond-spells {
   -fx-background-color: background;
   -fx-background-image: url('../images/BG_Spells.png');
   -fx-background-position: right bottom;
   -fx-background-repeat: no-repeat;
}

#splittermond-equipment {
   -fx-background-color: background;
   -fx-background-image: url('../images/BG_Equipment.png');
   -fx-background-position: right bottom;
   -fx-background-repeat: no-repeat;
}

#splittermond-resources {
   -fx-background-color: background;
   -fx-background-image: url('../images/BG_SkillsCombat.png');
   -fx-background-position: right bottom;
   -fx-background-repeat: no-repeat;
}

#splittermond-development {
   -fx-background-color: background;
   -fx-background-image: url('../images/BG_SkillsCombat.png');
   -fx-background-position: right bottom;
   -fx-background-repeat: no-repeat;
}
#splittermond-development .character-document-view-description {
  -fx-max-width: 30em;
  -fx-min-width: 15em;
}
#splittermond-development .description-text {
  -fx-max-width: 30em;
}
#splittermond-resources   .character-document-view-description {
  -fx-max-width: 40em;
  -fx-min-width: 15em;
}
#splittermond-resources .description-text {
  -fx-max-width: 40em;
}

/*******************************
 * Tables
 *******************************/
.table-head {
	-fx-background-color: dark;
  	-fx-text-fill: light;
  	-fx-font-weight: bold;
	-fx-padding: 0.2em;
}
.table .label {
	-fx-padding: 2px;
}

.odd {
	-fx-background-color: derive(light, -10%);
	-fx-padding: 3 8 3 8;
}

.even {
	-fx-background-color: transparent;
	-fx-padding: 3 8 3 8;
}

.gridsep {
	-fx-background-color: transparent;
	-fx-border-color: dark;
	-fx-border-width: 0 2 0 2;
}

/****
 * Selections and highlight
 ****/

.highlighted {
  -fx-background-color: darker;
}

.selected {
  -fx-background-color: dark;
  -fx-text-fill: light;
}
.emphasized {
  -fx-text-fill: textcolor-highlight-primary;
}


.content {
    -fx-background-color: light;
}

 